

/**body {
	font-family: Arial;
	font-size: small;
	font-weight: lighter;
	color: #89696D;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

#nav {
	float: right;
}

#nav ul li {
	display: inline-block;
	margin-top: 5px;
	margin-right: 12px;
}

#photo img{
	width: 32px;
	height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 50%;
}

#content {
	clear: both;
	padding-top: 145px;
	padding-bottom: 150px;
	text-align: center;
}

#logo {
	display: block;
	height: 95px;
	width: 269px;
	margin: 0 auto;
}

#searchform input{
	width: 550px;
	height: 25px;	
	display: block;
	margin: 20px auto 10px auto;
	background: transparent;
	border: 1px solid #4D90FE;
}

#footer {
	position: fixed;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #F2F2F2;
	border-top: 1px solid #E4E4E4;
}

#footer ul {
	margin-top: 13px;	
	margin-left: 23px;
	margin-right: 23px;
}

#footer ul li {
	display: inline-block;
	margin-right: 23px;
}

#l_foot {
	float: left;
}

#r_foot {
	float: right;
}
**/
